{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %} <h1>Welcome {{ staff.user.full_name }}</h1>
 <div class="col-lg-3">
    <div class="h-100 bg-light rounded d-flex align-items-center p-5">
      <div
        class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
        style="width: 55px; height: 55px"
      >
        <i class="fa fa-user text-primary"></i>
      </div>
      <div class="ms-4">
        
        <h5 class="mb-0"><a class="text-black" href="{% url 'personal-information' %}">
            Personal Info</a></h5>
      </div>
    </div>
  </div>

  <!-- New section for viewing all appointments -->
<div class="col-lg-3 mt-4">
  <div class="h-100 bg-light rounded d-flex align-items-center p-5">
      <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px">
          <i class="fa fa-calendar text-primary"></i>
      </div>
      <div class="ms-4">
          <h5 class="mb-0"><a class="text-black" href="{% url 'all_appointments' %}">View All Appointments</a></h5>
      </div>
  </div>
</div> {% endcomment %}


<div class="container mt-4 text-center">

  <!-- Personal Info and Manage Appointments -->
  <div class="row justify-content-center mt-4">
      <div class="col-md-8">
          <p class="display-6" style="color:blue;">{{ staff.user.full_name }} Dashboard</p>
          <p>
              <strong>Role:</strong> {{ staff.role }} |
              <strong>Department:</strong> {{ staff.department }} 

           
          </p>
      </div>
  </div>&nbsp

  <div class="row">
      <!-- Personal Info -->
      <div class="col-lg-4 mb-4">
          <div class="card bg-light border-0 shadow-sm">
              <div class="card-body d-flex align-items-center p-4">
                  <div class="icon bg-primary text-white rounded-circle d-flex align-items-center justify-content-center" style="width: 55px; height: 55px;">
                      <i class="fa fa-user"></i>
                  </div>
                  <div class="ms-4">
                    <h5 class="mb-0"><a class="text-black" href="{% url 'personal-information' %}">Personal Info</a></h5>
                  </div>
              </div>
          </div>
      </div>

      <!-- Upcoming Appointments -->
      <div class="col-lg-4 mb-4">
          <div class="card bg-light border-0 shadow-sm">
              <div class="card-body d-flex align-items-center p-4">
                  <div class="icon bg-primary text-white rounded-circle d-flex align-items-center justify-content-center" style="width: 55px; height: 55px;">
                      <i class="fa fa-clock fa-2x"></i>
                  </div>
                  <div class="ms-4">
                    <h5 class="mb-0"><a class="text-black" href="{% url 'all_appointments' %}">View All Appointments</a></h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}