<footer class="mt-auto">
  <div
    class="container-fluid bg-dark text-light footer wow fadeIn"
    data-wow-delay="0.1s"
  >
    <div class="container py-3">
      <div class="row g-3">
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-3">Address</h5>
          <p class="mb-1">
            <i class="fa fa-map-marker-alt me-2"></i>Abc street, Kerala
          </p>
          <p class="mb-1"><i class="fa fa-phone-alt me-2"></i>+91 9000000000</p>
          <p class="mb-1">
            <i class="fa fa-envelope me-2"></i>info@example.com
          </p>
          <div class="d-flex pt-2">
            <a
              class="btn btn-outline-light btn-social rounded-circle"
              href="{% url 'error' %}"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="btn btn-outline-light btn-social rounded-circle"
              href="{% url 'error' %}"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-outline-light btn-social rounded-circle"
              href="{% url 'error' %}"
              ><i class="fab fa-youtube"></i
            ></a>
            <a
              class="btn btn-outline-light btn-social rounded-circle"
              href="{% url 'error' %}"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-3">Services</h5>
          <a class="btn btn-link p-0" href="{% url 'service' %}">Cardiology</a>
          <a class="btn btn-link p-0" href="{% url 'service' %}">Pulmonary</a>
          <a class="btn btn-link p-0" href="{% url 'service' %}">Neurology</a>
          <a class="btn btn-link p-0" href="{% url 'service' %}">Orthopedics</a>
          <a class="btn btn-link p-0" href="{% url 'service' %}">Laboratory</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-3">Quick Links</h5>
          <a class="btn btn-link p-0" href="{% url 'about' %}">About Us</a>
          <a class="btn btn-link p-0" href="{% url 'contact' %}">Contact Us</a>
          <a class="btn btn-link p-0" href="{% url 'service' %}"
            >Our Services</a
          >
          <a class="btn btn-link p-0" href="{% url 'error' %}"
            >Terms & Condition</a
          >
          <a class="btn btn-link p-0" href="{% url 'error' %}">Support</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-3">Newsletter</h5>
          <p class="mb-2">
            Join our community and receive the latest updates on healthcare
            services, events, and wellness tips
          </p>
          <div class="position-relative mx-auto" style="max-width: 350px">
            <input
              class="form-control border-0 w-100 py-2 ps-4 pe-5"
              type="text"
              placeholder="Your email"
            />
            <button
              type="button"
              class="btn btn-primary py-1 position-absolute top-0 end-0 mt-1 me-2"
            >
              <a class="text-white" href="{% url 'error' %}">SignUp</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
